# Choose whether to set python version by nix shell (lorri) or pyenv.
if has pyenv; then
    eval "$(pyenv init --path)"
    eval "$(pyenv init -)"
    if ! pyenv which python &> /dev/null; then
        pyenv install
    fi
elif has lorri; then
    eval "$(lorri direnv)"
fi

# Create venv if necessary and load it.
if [ ! -d '.venv' ] ; then
    python -m venv .venv
    source .venv/bin/activate
    python -m pip install -r requirements.txt
else
    source .venv/bin/activate
fi

# Prevent error about direnv/venv not being able to set PS1.
unset PS1

# Set default options for robot.
ROBOT_OPTIONS="
  --outputdir='$(expand_path .)'/.logs
  --variable=INSTALLER:'$(expand_path .)'/installer.sh
  --variable=MODE:skip
"

kernel="$(uname --kernel-name)"
if [ "$kernel" = 'Linux' ]; then
    ROBOT_OPTIONS="$ROBOT_OPTIONS --include=linux"
elif [ "$kernel" = 'Darwin' ]; then
    ROBOT_OPTIONS="$ROBOT_OPTIONS --include=macos"
fi

export ROBOT_OPTIONS
