# Input settings for bash, python, and some other shells.
# Not used by zsh.
# run bind -f ~/.inputrc to refresh keybindings.  Do not call source on this file.

# Set vim keyboard shortcuts in terminal
set editing-mode vi
set show-mode-in-prompt on

# Use ctrl L to clear screen, not as vim command
$if mode=vi
set keymap vi-command
# these are for vi-command mode
Control-l: clear-screen

set keymap vi-insert
# these are for vi-insert mode
Control-l: clear-screen
$endif

# change cursor based on vim mode in terminal
set vi-ins-mode-string "\1\e[6 q\2"
set vi-cmd-mode-string "\1\e[2 q\2"

# Remove the delay when pressing escape
set keyseq-timeout 10

set bell-style none
