# Contains bspwm commands involving desktops and monitors.

super + shift + q
    bspwm-close-all-windows; \
    bspwm-remove-desktops '.!active'

# Move desktop between monitors.
# Use prev/next instead of north/south in case monitors are not stacked vertically.
super + alt + shift {j,k}
    bspwm-move-desktop-to-monitor {prev,next}

# Move monitor focus.
# TODO: Move mouse even when there is no window present.
super + alt + {j,k}
    bspc monitor --focus {south,north}

# Move desktop one space left or right.
super + alt + shift + {h,l}
    bspc desktop --bubble {prev,next}

# Open Rofi to select a name for the new desktop.
super + alt + equal
    bspwm-new-desktop

super + alt + slash
    bspwm-rename-desktop

# Toggle monocle.
# Add alias with space to mimic mission control shortcut on macos.
super + a
    bspc desktop --layout next
super + space
    bspc desktop --layout next

# Focus desktop on this monitor.
super + alt + {h,l}
    bspc desktop --focus {prev,next}.local

# Focus the last used desktop, regardless of monitor.
super + alt + Tab
    bspc desktop last --focus

# Remove current desktop.
super + alt + minus
    bspc desktop --remove

super + alt + shift + minus
    bspwm-remove-desktops '.!active.!occupied'

